################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ClearAccount/.vs/ClearAccount/v16/Server/sqlite3/db.lock
